<h3>Submitted vacation requests</h3>
<table class="vacation-list">
  <tr>
    <th>Employee</th>
    <th>Vacation start date</th>
    <th>Vacation end date</th>
    <th>Comment</th>
    <th>Submitted at</th>
  </tr>
  <tr *ngFor="let vacation of vacations">
    <td>{{getEmployeeName(vacation.employeeId)}}</td>
    <td>{{vacation.vacationStart}}</td>
    <td>{{vacation.vacationEnd}}</td>
    <td>{{vacation.comment}}</td>
    <td>{{vacation.submittedAt}}</td>
  </tr>
</table>
<vacation-request-form (requestSubmitted)="refreshVacationRequests()"></vacation-request-form>

