<vacation-request-form (requestSubmitted)="refreshVacationRequests($event)"></vacation-request-form>

<h3>Submitted vacation requests</h3>
<table class="vacation-list">
  <tr>
    <th>Employee</th>
    <th>Vacation start date</th>
    <th>Vacation end date</th>
    <th>Comment</th>
    <th>Submitted at</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let vacation of vacations">
    <td>{{getEmployeeName(vacation.employeeId)}}</td>
    <td>{{vacation.vacationStart}}</td>
    <td>{{vacation.vacationEnd}}</td>
    <td>{{vacation.comment}}</td>
    <td>{{vacation.submittedAt}}</td>
    <td>
      <button pButton type="button" label="Delete" icon="pi pi-trash" (click)="deleteVacation(vacation.id)"></button>
      <button pButton type="button" label="Edit" icon="pi pi-pencil" (click)="editVacation(vacation)"></button>
    </td>
  </tr>
</table>
